# Development-only dependencies
# Install with: pip install -r requirements-dev.txt

django-debug-toolbar==6.0.0
Faker==37.6.0
django-stubs==5.2.5
django-stubs-ext==5.2.5
djlint==1.36.4

# Dev transitive dependencies
cssbeautifier==1.15.4
jsbeautifier==1.15.4
json5==0.12.1
pathspec==0.12.1
regex==2025.9.1
tomli==2.2.1
tqdm==4.67.1
types-python-dateutil==2.9.0.20250822
types-PyYAML==6.0.12.20250915
