{% load static %}
<div class="flex flex-col gap-4 px-4 pt-4 md:flex-row md:items-center md:justify-between md:px-6 md:pt-6">
    <div class="relative">
        <p class="text-xl font-bold text-gray-800 dark:text-white">All Items</p>
    </div>
    <div class="join">
        <a href="{% url 'add_product' %}"
           class="join-item btn btn-sm inline-flex items-center gap-2 bg-brand-500 p-1 rounded text-white hover:bg-brand-600">
            <svg class="h-6 w-6"
                 xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 0 20 20"
                 fill="currentColor">
                <path fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" clip-rule="evenodd" />
            </svg>
        </a>
    </div>
</div>
