{% load static %}
<div class="relative overflow-x-auto shadow-sm">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">SKU</th>
                <th scope="col" class="px-6 py-3">BRAND</th>
                <th scope="col" class="px-6 py-3">MODELNAME</th>
                <th scope="col" class="px-6 py-3">CATEGORY</th>
                <th scope="col" class="px-6 py-3">TYPE</th>
                <th scope="col" class="px-6 py-3">PARENT</th>
                <th scope="col" class="px-6 py-3"></th>
                <th scope="col" class="px-6 py-3"></th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <th scope="row"
                        class="px-6 py-4 font-medium uppercase text-gray-900 whitespace-nowrap dark:text-white">
                        {{ product.sku }}
                    </th>
                    <td class="px-6 py-4">{{ product.brand.name }}</td>
                    <td class="px-6 py-4 uppercase">{{ product.modelname }}</td>
                    <td class="px-6 py-4 capitalize">{{ product.category }}</td>
                    <td class="px-6 py-4 capitalize">{{ product.type_variant }}</td>
                    <td class="px-6 py-4">
                        {% if product.base_product %}
                            {{ product.base_product }}
                        {% else %}
                            N/A
                        {% endif %}
                    </td>
                    <td class="px-6 py-4">
                        {% if product.can_edit %}
                            <a href="{{ product.get_edit_url }}"
                               class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                        {% else %}
                            <span class="text-gray-500">Restricted</span>
                        {% endif %}
                    </td>
                    <td class="px-6 py-4">
                        {% if product.can_delete %}
                            <form method='post' action='{{ product.get_delete_url }}'>
                                {% csrf_token %}
                                <button type='submit'
                                        class="font-medium text-red-600 dark:text-red-500 hover:underline">
                                    Delete
                                </button>
                            </form>
                        {% else %}
                            <span class="text-gray-500">Restricted</span>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
