{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>MRMS</title>
        {% tailwind_css %}
    </head>
    <body x-data="{ page: 'ecommerce', 'loaded': true, 'darkMode': false, 'stickyMenu': false, 'sidebarToggle': false, 'scrollTop': false }"
          x-init=" darkMode = JSON.parse(localStorage.getItem('darkMode')); $watch('darkMode', value => localStorage.setItem('darkMode', JSON.stringify(value)))"
          :class="{'dark bg-gray-900': darkMode === true}">
        {% comment %} this is will utilize later {% endcomment %}
        <div class="fixed top-0 right-0 h-screen w-10 bg-gray-100 dark:bg-gray-900 z-30"></div>
        {% include "partials/preloader.html" %}
        <div class="flex h-screen overflow-hidden">
            {% include "partials/sidebar.html" %}
            <div class="relative mr-10 flex flex-1 flex-col bg-white dark:bg-black overflow-x-hidden overflow-y-auto">
                {% include "partials/overlay.html" %}
                {% include "partials/header.html" %}
                <main>
                    {% block content %}
                    {% endblock content %}
                </main>
            </div>
        </div>
        <script src="{% static 'js/htmx.min.js' %}"></script>
        <script src="{% static 'js/formset.js' %}"></script>
        <script src="{% static 'js/dist/bundle.js' %}" defer></script>
    </body>
</html>
