{% load widget_tweaks %}
<div class="bg-white mt-5 py-5 max-w-4xl">
   <div class="mb-6">
      <div class="overflow-x-auto">
         <table class="w-full">
            <thead class="bg-white">
               <tr>
                  <th class="w-2/5 pl-2 pr-2 py-2 text-left text-xs font-normal text-gray-900 uppercase tracking-wider border-t border-b border-r">
                     Product Name
                  </th>
                  <th class="w-1/5 px-2 py-2 text-right text-xs font-normal text-gray-900 uppercase tracking-wider border-t border-b border-r">
                     Ordered
                  </th>
                  <th class="w-1/5 px-2 py-2 text-right text-xs font-normal text-gray-900 uppercase tracking-wider border-r border-t border-b">
                     Received
                  </th>
                  <th class="w-1/5 px-2 py-2 text-right text-xs font-normal text-gray-900 uppercase tracking-wider border-t border-b">
                     Quantity to Receive
                  </th>
                  <th class="w-1/5 px-4 py-2 text-left text-xs font-normal text-gray-900 uppercase tracking-wider"></th>
               </tr>
            </thead>
            <tbody id="items-container" class="bg-white divide-y divide-gray-200">
               {% if formset %}
                  {{ formset.management_form }}
                  {% for form, po_item in zipped_data %}
                     <tr class="item-form-row border-b-0">
                        <td class="px-2 py-2 border-r border-b uppercase">{{ po_item.product.modelname }}</td>
                        <td class="px-2 py-2 border-r border-b text-right">{{ po_item.ordered_quantity }}</td>
                        <td class="px-2 py-2 border-r border-b text-right">{{ po_item.received_quantity }}</td>
                        <td class="px-2 py-2 border-b">
                           {% render_field form.received_quantity placeholder="1" class="w-full px-2 py-1 rounded focus:ring-1 focus:ring-blue-500 focus:border-blue-500 outline-none text-right" min="1" step="1" required=form.received_quantity.field.required %}
                        </td>
                        <td class="px-4 py-2">
                           <button type="button" class="remove-form-row text-red-600 hover:text-red-800">
                              <svg xmlns="http://www.w3.org/2000/svg"
                                   viewBox="0 0 20 20"
                                   fill="currentColor"
                                   class="size-5">
                                 <path d="M6.28 5.22a.75.75 0 0 0-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 1 0 1.06 1.06L10 11.06l3.72 3.72a.75.75 0 1 0 1.06-1.06L11.06 10l3.72-3.72a.75.75 0 0 0-1.06-1.06L10 8.94 6.28 5.22Z" />
                              </svg>
                           </button>
                           {% if has_existing_instance %}<div class="hidden">{{ form.DELETE }}</div>{% endif %}
                        </td>
                        <td class="hidden">
                           {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
                        </td>
                     </tr>
                  {% endfor %}
               {% else %}
                  <tr class="bg-white hover:bg-gray-50">
                     <td colspan="4" class="px-6 py-3 text-center text-xs font-light">
                        <p>Select a Purchase Order to record receives</p>
                     </td>
                  </tr>
               {% endif %}
            </tbody>
         </table>
      </div>
   </div>
</div>
